{{ partial "success.html" . }}
<div id="article" style="padding-left: 20px; padding-right: 20px;">
    <div class="article-title">
        <h1>{{ .Title }}</h1>
    </div>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    <hr/>
    <aside>
        <p> 目录: </p>
        {{ .TableOfContents }}
    </aside>
    <hr>
    <div class="post">
        <div id="content-font">
            {{ .Content }}
        </div>
    </div>
</div>
