<!--<div class="relative lg:max-w-7xl mx-auto px-4 lg:px-0 text-xl text-gray-500 ">-->

<div class="relative pt-24 md:pt-10 pb-8 overflow-hidden bg-[url('123.png')]">
    <div class="relative lg:max-w-7xl pt-20  mx-auto px-4 lg:px-0">
        <h2 class="text-center text-5xl font-extrabold text-white tracking-tight sm:text-5xl">
            "DEVOPS & CLOUD"
        </h2>
    </div>
    <div class="relative lg:max-w-7xl pt-5  mx-auto px-4 py-2 lg:px-0">
        <p class="text-center mt-2 text-base font-semibold tracking-wider text-cyan-600 uppercase">-提高 DevOps 和云技能，深入研究广泛的现实生活项目 -</p>
    </div>

    <div class="mb-2 items-center px-24 flex">
        <img class="w-16 h-16 rounded-full mr-4" src="/img.png" alt="Avatar">
        <div class="">
            <div class="text-base text-grey-dark">网站作者：MLL</div>
            <div class="text-xs text-grey-dark">
                最新更新计划: DevSecOps 章，涉及镜像、CI、云、IaC、K8s、ArgoCD、Istio等安全。
            </div>
        </div>

    </div>
</div>
