<hr>
<div class="relative pt-24 md:pt-5 pb-2 overflow-hidden">
    <div class="">
        <div class="relative lg:max-w-7xl  mx-auto px-4 lg:px-0 text-xl text-gray-500">

            <h2 class="text-center text-3xl font-extrabold text-gray-800 tracking-tight sm:text-4xl">
                "我所需要的只是一个文档库"
            </h2>
            <p class="text-center mt-2 text-base font-semibold tracking-wider text-cyan-600 uppercase">- 每个希望学习的人</p>
<!--            <p class="mt-5">-->
<!--                我几乎所有笔记存放在github相关项目中，笔记和代码存放在一起，我总觉得这个方法是错误的，它本身并没有多大帮助而且会变的越来越陈旧。-->
<!--            </p>-->
<!--            <img class="m-8 mt-4 pr-0 w-8 h-8 sm:w-40 sm:h-32 float-left " src="/punching.gif"/>-->
<!--            <p class="mt-5">-->
<!--                👀 感觉就像有人告诉我，-->
<!--                <span class="italic"> “他需要一颗M2螺丝，我便需要去杂物间一遍又一遍的翻找。"</span>-->
<!--            </p>-->
<!--            <p class="mt-5">-->
<!--                <span class="italic">🚀  我决定去构建自己的博客，这样就不会浪费无数时间去翻找笔记。 </span>-->
<!--            </p>-->

<!--            <p class="mt-5">-->
<!--                <span class="italic">🎉 希望能够将它们拼凑在一起。这并不快也不容易，但一切都慢慢开始变得有意义。</span>-->
<!--            </p>-->
        </div>
        <div class="text-center pt-8 pb-2">
            <a href="/docs" class="mx-auto text-center sm:text-left sm:w-auto px-4 py-4 rounded-md text-white font-medium bg-gradient-to-r from-blue-500 to-purple-600 hover:from-blue-600 hover:to-purple-700">进入文档库!</a>
        </div>
    </div>
</div>
