<div class="container mx-auto mt-8 pt-8 flex flex-wrap justify-center">
    <a href="/" class="leading-loose mx-6 text-grey-dark hover:text-grey-darkest">最新文章</a>
    <a href="/post/" class="leading-loose mx-6 text-grey-dark hover:text-grey-darkest">所有文章</a>
    <a href="/progress/" class="leading-loose mx-6 text-grey-dark hover:text-grey-darkest">更新进展</a>
    <a href="/tags/" class="leading-loose mx-6 text-grey-dark hover:text-grey-darkest">标签</a>
    <a href="/about" class="leading-loose mx-6 text-grey-dark hover:text-grey-darkest">关于我</a>
</div>
<p class="pb-8 text-center text-grey text-xs my-8">
    ©2024 M-Q. 版权所有.
</p>
<div class="py-6"></div>
