<!--<div class="py-8"></div>-->
<div class="container mx-auto border-none py-0 lg:flex" id="about">
    <div class="block w-full lg:flex ">
        <div class="h-48 lg:h-auto lg:w-80 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/greenforested.png')" title="Green forested area">
        </div>
        <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-2">
                <div class="mb-2 items-center px-6 flex">
                    <img class="w-16 h-16 rounded-full mr-4" src="/img.png" alt="Avatar">
                    <div>

                        <div class="text-xs text-grey-dark">文章作者：</div>

                        <div class="text-grey-darkest font-bold text-xl">M-Q</div>
                        <div class="flex">
                            <a class="github" href="https://github.com/baimiyishu13" data-size="small">
                                ⛳️ github</a>
                        </div>
                    </div>
                </div>
                <div class="text-grey-darker text-base">
                    <p class="py-1">
                        <span>"MQ是一位运维工程师，专业领域包括网络、Kubernetes、DevOps、Go语言以及云原生监控等。对常用运维技术有深入的理解和实践，曾经成功地为公司部署了一套基于VictoriaMetrics的完整监控系统。 </span>
                    </p>

                    <p class="py-1">
                        此前，曾担任过网络工程师，云运维工程师、K8s运维工程师等职位。参与了多个大型项目的开发和部署。"
                    </p>
                    <p class="py-1">
                    大学就读期间就开始学习cisco网络、Linux等技术，对计算机网络、操作系统等有深入的理解。"
                    </p>
                </div>
                <div class="text-grey-dark text-base pt-8">
                </div>
            </div>
        </div>
    </div>
</div>