<!--<div class="py-8"></div>-->
<div class="container mx-auto border-none py-0 lg:flex" id="about">
    <div class="block w-full lg:flex ">
        <div class="h-48 lg:h-auto lg:w-80 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
            <img src="/greenforested.png" alt="forest" class="w-full h-full object-cover">
        </div>
        <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-2">
                <div class="mb-2 items-center px-6 flex">
                    <img class="w-16 h-16 rounded-full mr-4" src="/img.png" alt="Avatar">
                    <div>

                        <div class="text-xs text-grey-dark">文章作者：</div>

                        <div class="text-grey-darkest font-bold text-xl">M-Q</div>
                        <div class="flex">
                            <a class="github" href="https://github.com/baimiyishu13" data-size="small">
                                🌐 github</a>
                        </div>
                    </div>
                </div>
                <div class="text-grey-darker text-base">
                    <p class="py-1">
                        <span>"目前是一名运维工程师，专业领域包括网络、Kubernetes、DevOps、Golang等。 </span>
                    </p>
                    <p class="py-1">
                        此前，曾担任过网络工程师，云运维工程师、K8s运维工程师等职位。"
                    </p>
<!--                    <p class="py-1">-->
<!--                        2021大学毕业：主修cisco网络技术、Linux操作系统等，并自学 Kubernets、Docker、Prometheus、Golang、等技术。-->
<!--                    </p>-->
<!--                    <p class="py-1" >-->
                        曾获证书 🏆: 网络（网络C4、华为网络数通HCIP）｜ 操作系统（Redhat RHCSA\RHCE）｜  云（华为云计算HCIP）｜ Kubernetes （CKA CKS）等
<!--                    </p>-->
                </div>
                <div class="text-grey-dark text-base pt-4">
                </div>
            </div>
        </div>
    </div>
</div>