<!--<div class="py-8"></div>-->
<div class="container mx-auto border-none py-0 lg:flex" id="about">
    <div class="block w-full lg:flex ">
        <div class="h-48 lg:h-auto lg:w-80 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/greenforested.png')" title="Green forested area">
        </div>
        <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="mb-2">
                <div class="mb-2 items-center px-6 flex">
                    <img class="w-16 h-16 rounded-full mr-4" src="/img.png" alt="Avatar">
                    <div>

                        <div class="text-xs text-grey-dark">文章作者：</div>

                        <div class="text-grey-darkest font-bold text-xl">M-Q</div>
                        <div class="flex">
                            <a class="github" href="https://github.com/baimiyishu13" data-size="small">
                                github@baimiyishu13</a>
                        </div>
                    </div>
                </div>
                <div class="text-grey-darker text-base">
                    <p class="py-1">
                        IT运维行业三载有余，初涉网络数通之途，后专注于 Kubernetes、DevOps、Go 语言和任何运维技术，蒙得 Huawei Redhat Kubernetes 认证。
                    </p>

                    <p class="py-1">
                        此前，曾在多家公司工作过
                    </p>
                </div>
                <div class="text-grey-dark text-base pt-8">
                </div>
            </div>
        </div>
    </div>
</div>